.at-col-1 {
    width: 5%;
}

.at-col-2 {
    width: 20%;
    white-space: nowrap;
}

.at-col-3 {
    width: 20%;
    white-space: nowrap;
}

.at-col-4 {
    width: 20%;
    white-space: nowrap
}

.at-col-5 {
    width: 10%;
    white-space: nowrap
}

.at-col-6 {
    width: 10%;
}

.at-col-7 {
    width: 10%;
}

.at-action {
    width: 5%;
}

