.at-col-1 {
    width: 10%;
}

.at-col-2 {
    width: 20%;
    white-space: nowrap;
}

.at-col-3 {
    width: 20%;
    white-space: nowrap;
}

.at-col-4 {
    width: 20%;
    white-space: nowrap;
}

.at-col-5 {
    width: 20%;
    white-space: nowrap;
}

.at-action {
    width: 10%;
}
