#tabs #add-project-a, #tabs #add-project-b {
    font-size: medium;
    color: #eeeeee;
    background-color: #880000;
    padding: 0.5em 2em;
    border-width: 0;
}

#tabs #add-project-a:hover, #tabs #add-project-b:hover {
    background-color: #cc0000;
    cursor: pointer;
}

#tabs form td.label {
    width: 30%;
}
