.at-col-1 {
    width: 5%;
}

.at-col-2 {
    width: 10%;
    white-space: nowrap;
}

.at-col-3 {
    width: 30%;
}

.at-col-4 {
    width: 10%;
    text-align: center !important; 
    white-space: nowrap;
}

.at-col-5 {
    width: 30%;
    text-align: right !important;
    white-space: nowrap;
}

.at-col-6 {
    width: 10%;
    color: #660000;
}

.at-action {
    width: 5%;
}

td.completed {
    border-width: 0;
    background-color: #F5ECCE;
    border: 1px solid #cccccc;
    border-bottom: 1px solid #999999 !important;
    border-right: 1px solid #999999 !important;
}

#so-content table.output td {
    padding: 0.2em 0.5em;
}

#so-content table.output label {
    font-style: normal;
    font-weight: normal;
    text-align: left;
}

#so-content table.output td.action {
    text-align: center;
}
