<tr>
    <td class="label">
        <label for="asm-{$form_id}">Assemble RNA-Seq Reads with</label>
    </td>
    <td>
        <select id="asm-{$form_id}" name="asm">
            <option value="0">Trinity</option>
        </select>
    </td>
</tr>