<tr>
    <td class="label">
        <label for="map-{$form_id}">Choose a Read Mapping Program</label>
    </td>
    <td>
        <select id="map-{$form_id}" name="map">
            <option value="0">Tuque</option>
            <option value="1">TopHat</option>
        </select>
    </td>
</tr>