<form  id="delGroupForm" name="delGroupForm" action="list.php" method="post">
    <p class="warning">Are you sure you want to delete this user group?</p>
    <p>{$group.title}</p>
    <input type="submit" name="delGroup" value="Delete User Group" tabindex="1"></input>
    <input type="submit" value="Cancel" tabindex="2"></input>
    <input name="id" type="hidden" value="{$smarty.get.id}"></input>
</form>