/***************
 * Page Layout *
 ***************/

body {
    overflow-y: scroll;
    background-color: #eeeeee;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}

#so-wrapper {
    margin: 1em;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

#so-header {
    height: 150px;
    position: relative;
    background-repeat: no-repeat;
    background-position: top left;
    background-image: url("/images/so.png");
}

#so-user {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    text-align: right;
}

#so-nav {
    padding: 1em;
    padding-bottom: 0.5em;
    position: absolute;
    bottom: 0;
}

#so-content {
    padding: 0.5em 1em;
}

#so-footer {
    text-align: center;
    border-top: 1px solid #cccccc;
    padding: 1em 0;
    margin-top: 2em;
}

#so-content p {
    margin: 0.5em 0;
}

#so-content > h1 {
    font-size: x-large;
    color: #000066;
    border-bottom: 1px solid #000066;
    font-style: normal;
    font-weight: normal;
    margin: 0 0 0.5em 0;
    text-align: right;
}

/************
 * Messages *
 ************/

p.help {
    background-image: url('/images/icon/help.png');
    padding-left: 42px;
    background-repeat: no-repeat;
    background-position: left top;
    min-height: 32px;
    color: #666666;
}

#msg {
    padding: 0.1em 1em;
    min-height: 42px;
}

#msg p {
    vertical-align: middle;
}

#msg.none {
    display: none;
}

#msg.error {
    background-image: url('/images/icon/error.png');
    padding-left: 42px;
    background-repeat: no-repeat;
    background-position: left center;
    color: #660000;
}

#msg.success {
    background-image: url('/images/icon/notice.png');
    padding-left: 42px;
    background-repeat: no-repeat;
    background-position: left center;
    color: #006600;
}

.warn {
    background-image: url('/images/icon/warn.png');
    padding-left: 42px;
    background-repeat: no-repeat;
    background-position: left center;
}

/*********
 * Forns *
 *********/

#so-content form em {
    color: #660000;
}

#so-content form fieldset {
    margin: 1em 0;
}

#so-content form table {
    border: 0;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0.3em;
}

#so-content form td {
    vertical-align: top;
    border: 1px solid #eeeeee;
    padding: 0.5em;
}

#so-content form td a {
    vertical-align: top;
    color: #660000;
    font-weight: bold;
}

#so-content form td.label {
    width: 20%;
    background-color: #eeeeee;
    text-align: center;
    padding: 0.5em;
}

#so-content form fieldset {
    padding: 1em;
    border: 1px solid #cccccc;
}

#so-content form legend {
    padding: 0.1em 2em;
    border: 1px solid #cccccc;
    background-color: #eeeeee;
}

#so-content form input[type=text] {
    min-width: 300px;
}

#so-content form input[type=text].short {
    min-width: 30px;
    width: 60px;
}

#so-content form p > input {
    padding: 0.3em 1em;
}

#so-content form select {
    min-width: 150px;
}

#so-content form label.error {
    color: #660000;
}

#so-content form input.error {
    margin-right: 0.5em;
}

#so-content form ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#so-content form table.checkbox td {
    padding: 0;
    border-width: 0;
}

#so-content form table.checkbox td:first-child {
    width: 40%;
}

.description, .ext-fastq, .ext-fasta {
    font-style: italic;
    color: #666666;
}

/*************
 * AjaxTable *
 *************/

.at-table th {
    text-align: left;
}

.at-table caption {
    background-color: #899ecc;
    color: #ffffff;
    font-weight: normal;
    font-style: normal;
    padding: 3px;
    font-size: large;
}

.at-table td, .at-table th {
    padding: 2px 5px;
}

.at-table td, .at-table th {
    border-bottom: 1px solid #cccccc;
}

.at-page-jump {
    width: 50px;
    min-width: 50px;
    border: solid 1px #cccccc;
    text-align: center;
}

.at-table-even {
    background-color: #eeeeee; /* #f8f8f8; */
}

.at-table td table {
    width: 100%;
}

.at-table td table tr {
    background-color: #eeeeee;
    border-width: 0;
}

.at-table td table label {
    font-weight: bold;
}

/*********
 * Other *
 *********/

a {
    color: #000066;
    text-decoration: none;
}

.so-center {
    text-align: center;
}

.so-right {
    text-align: right;
}

input[type=text], input[type=password] {
    padding: 1px 3px;
}